.body{
padding: 0;
margin: 0;
}
#arrow-up{
position: fixed;
right: 4px;
bottom: 50px;
color: white;
}
#arrow-down{
position: fixed;
right: 4px;
bottom: 10px;
color: white;
}
.arrows i{
font-size: 3em;
}
.btn:active{
box-shadow: inset 0 0px 0px;
}

.arrows i:hover{
transform: scale(1.05,1.05);
}
.panel{
border:0px;
width: 50%;
}
ul img{
margin: 40px 20px 0 20px;
}
.text {
position: fixed;
color: white;
font-size: 20px;
text-align: center;
}
.lines-heading-left{
position: relative;
top: -16px;
left: 0%;
}
.lines-heading-right{
position: relative;
top: -15px;
right: 0%;
}
.parallax-1{
height: 101%;
background: url(bg.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.parallax-2{
    height: 180%;
    background:fixed;
    margin-left: 120px;
    background-color: white;
}
.parallax-3{
    height: 60%;
    background: fixed;
    background-color: #eee;
    margin-top: 6%;
}
.parallax-4{
    height: 80%;
    background: fixed;
}
.parallax-5{
    height: 100%;
    background: fixed;
    background:repeating-radial-gradient(#c2d2ed,#fff);
    border-left:10px solid #072c61;
    border-right:10px solid #072c61;
    border-bottom: 2px solid #072c61;

}
.parallax-2 div.panel-heading span{
font-size: 1.8em;
color: #37c;
font-family: 'Oswald', sans-serif;
letter-spacing: 2px;
}
.parallax-2 div.panel-heading p.sub-heading{
    font-size: 1.4em;
    color: #75a32f;
    font-family: 'Arimo', sans-serif;
}

.parallax-2 div,.parallax-3 div,.parallax-4 div,.parallax-5 div{
    display: inline-block;
}
.caption-1{
font-family: 'Nanum Pen Script', cursive;
position: absolute;
top: 20%;
left: 35%;
}
.caption-1 span.border {
color: #fff;
padding: 18px;
font-size: 25px;
letter-spacing: 1px;
font-size: 7em;
position: relative;
}
.caption-2{
font-family: 'Permanent Marker', cursive;
color: #fff;
font-size: 6em;
position: relative;
top: 40%;
left: 20%;
text-shadow: 2 0 2 black;
}
.info-card {
margin: 10px;
-webkit-perspective: 400px;
}

.name{
margin-top: 15px;
text-shadow: 2px 2px #072c61;
}
.back-name{
font-family: 'Lato',sans-serif;
font-size: 2em;
color: #072c61;
}
.back-image{
width: 90px;
height: 90px;
border-radius: 50px;
margin-top: 10px;
}
.about-me{
align-content: center;
margin-top: 50px;
margin-left: 30px;
}
.front, .back {
background: #eee;
border-radius: 10px;
transition: -webkit-transform 0.6s;
-webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
}

.front {
overflow: hidden;
width: 150px;
height: 150px;
position: absolute;
z-index: 1;
}

.back {
padding: 20px;
padding-top: 0px;
width: 150px;
height: 150px;
-webkit-transform: rotateY(-180deg);
overflow: hidden;
}

.info-card:hover .back {
-webkit-transform: rotateY(0);
}

.info-card:hover .front {
-webkit-transform: rotateY(180deg);
}

.card-image {
width: 200px;
height: 200px;
background-color: #eee;
overflow: hidden;
margin-left: 10%;
margin-top: 5%;
}
.checked{
color: orange;
}
.about-me b{
font-size: 1.2em;
font-family: 'Merriweather', serif;
}
.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.animated.infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInUp {
from {
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInUp {
from {
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
animation-delay: 0.1s;
}
.parallax-4 i{
    margin-top: 10px;
    font-size: 5em;
    opacity: 0;
    margin-left: 10px;
}
.parallax-4 span{
    opacity: 0;
}
.glyphicon-arrow-right,.glyphicon-arrow-left,.glyphicon-arrow-down{
    padding: 5px 20px 10px 5px;
}
.glyphicon{
    top: 15px;
}
.parallax-4 .panel{
    border:2px solid #072c61;
    opacity: 0;
}
#music,#trophy,#b-cake,#cap,#university,#user{
    text-shadow: 0 5px 5px grey;
}
.parallax-4 .panel-heading{
    color: #072c61;
    font-size: 1.003em;
}

@keyframes fadeInLeft {
from {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}

to {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
animation-delay: 0.1s;
}
.system{
    position: relative;
    left: 20%;
}
.system ul{
    margin-top: 60px;
    list-style: none;
    font-size: 2em;
}
.system ul li{
    padding: 10px;
    color: #072c61;
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.system ul li:hover{
        transform: scale(1.1,1.1);
        text-shadow: 2px 0 2px blue;
}
.user_image{
    position: absolute;
    right: 45%;
    bottom: 10%;
    opacity: 0;
}
.user_image img{
    border-radius: 90px;
    height: 180px;
    width: 180px;
    border: 2px solid white;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
}
.user_image img:hover{
    filter: grayscale(50%);
}

.parallax-4 .panel-heading{
    font-family: 'Oswald', sans-serif;
    
    font-size: 1.2em;
}
.social {
list-style: none;

text-align: center;
}

.social a {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0px;
    margin: 15px 0px 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 40px;
}
a.social-icon {
text-decoration: none !important;
box-shadow: 0px 0px 1px rgb(51, 51, 51);
box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}
a.social-icon:hover {
color: rgb(255, 255, 255) !important;
}
a.facebook {
color: rgb(59, 90, 154) !important;
}
a.facebook:hover {      
background-color: rgb(59, 90, 154) !important;
}
a.linkedin {
color: #0077B5 !important;
}
a.linkedin:hover {
background-color: #0077B5 !important;
}
a.github {
color: rgb(51, 51, 51) !important;
}
a.github:hover {
background-color: rgb(51, 51, 51) !important;
}
a.twitter{
color: #00aced;
}
a.twitter:hover{
background-color: #00aced;
}
.footer{
background-color: #FED766;
height: 60px;
}
.p2h1_1{
position: absolute; left: 23%;
}
#container-1{
margin-top: 20px;
}
#container-2{
margin-top: -150px;
}
#container-1 img{
margin-top: 50px; margin-left: 15px;
}
.p2_panel_1,.p2_panel_2{
margin-top: 90px;
}
.p2_panel_heading_1,.p2_panel_heading_2{
width: 200%;
}
.contaier_2_div_1{
margin-right: -120px;
margin-left: 80px;
}
.p2_panel_2{
margin-top: 140px;
}
#container-2_mobile,#container-4_mobile{
display: none;
}
#container-3{
margin-top: -100px;
}
#container-3 img{
 margin-top: 30px;
margin-left: 40px;
}
.p2_panel_3{
margin-top: 90px;
}
.p2-panel_3_heading{
width: 180%;
}
.p2-panel_3_body{
word-wrap: break-word; width: 180%;
}
#wrapper-3-row{
margin-top: 6%;
}
.wrapper-3{
margin-left: 50px;
}
.p3_h1_1{
position: relative; top: 30px;
font-size: 36px;
}
#wrapper-3-row_mobile{
display: none;
}
.wrapper-4{
margin-left: 60px;
}
.wrapper-4 h1{
position: relative; top: 20px;
}
.phase{
 margin-top: 60px;
}
#b-cake{
color: #e89547;
}
#phase-panel-1{
width:20%; margin-left: 10px;"
}
#phase-panel-1 .panel-heading{
height: 15%;
}
#music{
color: blue; font-size: 5em; margin-top: 10px; 
}
#phase-panel-2{
width: 20%; margin-left: 10px;
}
#trophy{
color: #4ce051;
}
#phases_of_life_mobile{
display: none;  
}
.wrapper-5{
margin-left: 60px;
}
.wrapper-5 h1{
position: relative; top: 20px;
}
.content{
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1;
    font-size: 1.05em;
}
.content b{
    color: #072c61;
    font-weight: 400;
    text-decoration: underline;
}
.mobile-page{
    display: none;
}
.desktop-page{
    display: initial;
}
/*Media Queries*/
@media screen and (max-width:1099px){

.mobile-page{
    display: initial;
}
.desktop-page{
    display: none;
}
.user-image-mobile{
        width: 100px;
        height: 18%;
        margin: 9% 0 20% 1%;
    }
    .user-name-mobile{
        line-height: 50px;
        letter-spacing: 2px;
    }
    .social-mobile ul li{
        margin-right: 7%;
        border-radius: 50%;
    }
    .social-mobile ul li span{
        
    }
    .gmail{
        border-radius: 50%;
        padding:5px;
        line-height: 15px;
        background-color: #c71610;
        color: white;
    }
    .fb{
        border-radius: 50%;
        padding:5px 7px 5px 5px;
        line-height: 14px;
        background-color: #4267b2;
        color: white;
    }
    .github{
        border-radius: 50%;
        margin-left: -35px;
        padding:5px 7px 5px 5px;
        line-height: 14px;
        background-color: rgb(51, 51, 51) !important;
        color: white;
    }
    .twitter{
        border-radius: 50%;
        padding:5px;
        line-height: 15px;
        background-color: #0084b4;
        color: white;
    }
    .linkedin{
        border-radius: 50%;
        padding:5px;
        line-height: 15px;
        background-color: #0077B5;
        color: white;
    }
    .summary{
        margin: 30% 0%;
    }
    .education{
        margin: 100% 0%;
    }
    .isa{
        margin-left: -20px;
    }
    .projects{
        margin-top: 300%;
    }
}
